.Login-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -25%);
  transform: translate(-50%, -25%);
}
.input-center {
  display: block;
  margin: 2vh auto;
}
.input-center:nth-child(3) {
  margin: 2vh auto 5vh auto;
}

/* TODO: placeholder nice animations on focus
https://www.youtube.com/watch?v=UJvL4i6UPbY */